* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: honeydew;
}
h1 {
  font-size: 3em;
  position: relative;
  top: 45px;
}

span {
  color: rgb(182, 17, 17);
}

header {
  height: 140px;
  background-color: forestgreen;
  border-bottom: rgb(182, 17, 17) 3px solid;
  text-align: center;
  color: #ffff;
}
.container {
  margin: auto;
  width: 80%;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main {
  border: #cccccc solid 1px;
  margin-top: 30px;
  background-color: #e6e6e6;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 1ex;
}
.form {
  margin: 80px 0 30px 5px;
}
.input input[type="text"] {
  padding: 5px;
  height: 30px;
  width: 280px;
  border-radius: 1ex;
}
#type:hover {
  font-weight: bolder;
}
.btn {
  height: 40px;
  padding: 5px;
  width: 50px;
  border-radius: 1ex;
  font-size: 20px;
  color: #ffff;
  background-color: darkslategray;
}
.btn:hover {
  background-color: #35424a;
  font-weight: bold;
}
h2 {
  margin: 12px;
  font-size: 30px;
  padding-top: 20px;
}
li {
  border: #cccccc solid 1px;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  border-radius: 1ex;
}
li:hover {
  background-color: lightslategrey;
}
.but {
  float: right;
  background-color: red;
  color: #cccccc;
  border-radius: 1ex;
  padding: 10px;
}
.but:hover {
  background-color: rgb(143, 6, 33);
}
.check {
  float: left;
  margin-right: 10px;
  margin: 5px;
}
.error {
  background: orangered;
  color: #fff;
  padding: 5px;
  margin: 5px;
  width: 40%;
}
input[type="checkbox"] {
  width: 22px;
  height: 22px;
}
input[type="checkbox"]:checked {
  box-shadow: 2px 2px 2px orangered;
}
@media (max-width: 668px) {
  .input input[type="text"] {
    width: 80%;
  }
}
